.page-header {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;

}

.logo {
  display: inline-block;
  width: 22px;
  height: 50px;
  background-image: url("../img/logo.png");
  background-size: cover;
  margin-left: 14px;

}

.menu {
  float: right;
  list-style-type: none;
  padding-top: 8px;
}

.menu-item {

  float: left;
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px;
}

.menu-link:hover {
  border: 1px solid #333;
  color: greenyellow;
}