.sidebar {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  width: 200px;
  padding: 6px;
}
.list {
  list-style-type: none;
  margin-bottom: 16px;
}
.list-item {
  border: 1px solid #333;
  padding: 4px;
  border-bottom: 0;
}
.list-item:last-child {
 border-bottom: 1px solid #333;
}
.list-link {
  text-decoration: none;
  text-transform: uppercase;
  display: block; 
}
.list-item:hover {
  text-indent: 10px;
}

.social-links {
  float: left;
  width: 40px;
  height: 40px;

}
.social-links a {
  text-align: center;
}

.fb {
  background-image: url(../img/fb.png);
  background-size: cover;
}

.insta {
  background-image: url(../img/insta.png);
  background-size: cover;
}

